:root {
	--vp-c-brand-1: #646cff;
	--vp-c-brand-2: #747bff;
}

.medium-zoom-overlay {
	z-index: 30;
}

.medium-zoom-image {
	z-index: 9999 !important; /* 给的值是21，但是实测盖不住，直接999 */
}

/* mjx-container {
	font-size: 1.15em;
	line-height: 2;
} */
